{:paths ["src"]
 :deps  {org.clojure/clojure  {:mvn/version "1.10.1"}
         org.clojure/data.csv {:mvn/version "0.1.4"}
         cljplot              {:mvn/version "0.0.2-SNAPSHOT"}
         net.cgrand/xforms    {:mvn/version "0.18.2"}
         clj-pdf              {:mvn/version "2.4.0"}
         dk.ative/docjure     {:mvn/version "1.13.0"}
         witan.send           {:local/root "../witan.send"}
         witan.phyrexian      {:local/root "../witan.phyrexian"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps  {org.clojure/test.check {:mvn/version "0.10.0"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha     "76568540e7f40268ad2b646110f237a60295fa3c"}}
   :main-opts  ["-m" "cognitect.test-runner"
                "-d" "test"]}}}
